.fit {
  box-sizing: border-box;
  background-color: white;
  color: black;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5em;
}

.fit .wrapper {
  width: 100%;
}

.fit p {
  font-style: italic;
  font-size: calc(1.2em + 3vh);
  margin: 0 0 0.5em;
}

.cite {
  color: rgb(187, 10, 10);
  font-size: calc(1em + 1vh);
}
