.btn:focus {
  outline: none;
  box-shadow: none;
}

input, select {
  box-shadow: none !important;
}

.display-4 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.border-radius-0,
.br-0 {
  border-radius: 0;
}

.alert {
  z-index: 2;
}

.fs-lg {
  font-size: 1.25em;
}

.tag {
  border: solid 1px var(--secondary);
  color: var(--secondary);
  background-color: transparent;
  font-weight: normal;
  padding: 4px 10px 6px;
  transition: all 0.3 ease;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border-radius: 0;
}

.tag:not(.active):hover {
  border: solid 1px var(--light);
  color: var(--light);
}

.tag.active {
  border: solid 1px var(--warning);
  color: var(--warning);
}

.dropdown-menu.show .dropdown-item.active .tag {
  border: solid 1px var(--white);
  color: var(--white);
  cursor: inherit;
}

.dropdown-menu.show .dropdown-item .tag {
  border: solid 1px #212529;
  color: #212529;
  cursor: inherit;
  margin: 5px 0;
}

.custom-typeahead .dropdown-item {
  white-space: normal;
}

.custom-typeahead .dropdown-item.active .text-primary {
  color: #fff !important;
}

.custom-typeahead .dropdown-menu.show {
  min-height: 70vh;
}

.modal-backdrop.show {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
