/* Reset */
body {
  overflow: hidden;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

input,
select {
  box-shadow: none !important;
}

.display-4 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.alert {
  z-index: 2;
}

/* Utilities */

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.border-radius-0,
.br-0 {
  border-radius: 0;
}

.fs-lg {
  font-size: 1.25em;
}

.fs-timer {
  font-size: 3.2em;
}

.fs-xlg {
  font-size: 1.6em;
}

.fs-xl {
  font-size: 2em;
}

.fs-title {
  font-size: 70%;
}

.more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text-small {
  font-size: 95%;
}

/* Tags */

.tag {
  border: solid 1px var(--gray);
  color: var(--gray);
  background-color: transparent;
  font-weight: normal;
  padding: 6px 10px;
  transition: all 0.3 ease;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border-radius: 0;
}

.tag:not(.active):hover {
  border: solid 1px var(--secondary);
  color: var(--secondary);
}

.tag.active {
  font-size: 90%;
  border: solid 1px var(--secondary);
  color: var(--secondary);
}

.dropdown-menu.show .dropdown-item.active .tag {
  border: solid 1px var(--white);
  color: var(--white);
  cursor: inherit;
}

/* Typeahead and dropdowns */

.dropdown-menu.show .dropdown-item .tag {
  border: solid 1px #212529;
  color: #212529;
  cursor: inherit;
  margin: 5px 0;
}

.search-typeahead .dropdown-item {
  white-space: normal;
}

.search-typeahead .dropdown-item.active .text-primary {
  color: #fff !important;
}

.search-typeahead .dropdown-menu.show {
  min-height: 70vh;
}

/* Modals */

.modal-backdrop.show {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* Other */

.custom-control-label {
  font-size: 80%;
}

/* Shortcuts */

.shortcut {
  border: solid 1px var(--secondary);
  color: var(--secondary);
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 80%;
  font-weight: bold;
}

/* marquee */

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.cast-marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(31, 34, 36, 0.8);
  color: yellow;
  padding: 10px 0;
}

.cast-marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  font-size: calc(0.6em + 3vh);
}

/* Animations */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.pulse {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blink {
  50% {
    opacity: 20%;
  }
}

.anthemns-index.modal .modal-dialog {
  max-width: calc(100% - 3.5rem) !important;
}

.volume-control::-webkit-slider-thumb {
   background-color: var(--primary);
   border: solid 2px #fff;
}

.volume-control::-webkit-slider-runnable-track {
   background-color: var(--secondary);
}
